.section__subheading {
    color: var(--section__subheading-color);
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 700px;
    line-height: 25.2px;
    text-align: left;
    font-weight: bold;
    font-family: var(--font-family);
}

.section__color-text {
    color: var(--section__subheading-color);
}

.section__heading{
    font-family: var(--font-header-title);
    font-size: 38px;
    line-height: 1.1;
}

