@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap'); /* Source Sans Pro (як в макеті) */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');  /* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');/* Source Sans Pro (400) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-header-title: 'Lato', sans-serif;
    --text-color: #fff;
    --dot-color:rgb(209, 185, 151);
    --btn-color: rgb(209, 185, 151);
    --btn-color-hover:#bca788;
    --color-header-location:#a9a9a9;
    --background-contacts-header: #141414;
    --font-family: 'Source Sans Pro', sans-serif;
    --section__subheading-color: rgb(209, 185, 151);
    --grey-small-text-color: rgb(169, 169, 169);
    --text-color-white:#fff;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --main-white-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}


h2{
    font-family: 'Lato', sans-serif;
    /* color: white; */
    line-height: 1.1;
    font-size: 42px;
    font-weight: 900;
    text-transform: none;
}
