.section__contact{
    padding-top: 55px;
    padding-bottom: 25px;
    background:#141414
}
.card__price-description {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 28px 28px;
}
.contact__map{
    width: 375px;
}
.section__heading{
    color: var(--main-white-color);
    font-family: var(--font-header-title);
}
.contact__slider img{
    width: 300px;
    height: 212px;
    padding: 10px;
}