.header__container {
    background-image: url(../img/header/header-background.jpeg);
    background-size: cover;
    background-position: center;
   
}
.background-darkened {
    background-color:rgba(0, 0, 0, 0.5);
    padding: 0 24px;
}
.nav__container {
    padding: 20px 0;
}
.nav__logo-container {
    display: inline-block;
    height: 56px;
    width: 174px;
}
.links__container {
    display: none;
}
.article__container {
    padding: 130px 0px;
}
.header__title {
    font-size: 56px;
    font-family: var(--font-lato);
    color: var(--text-color-white);
}
@media (min-width:767.5px) {
    .header__title {
        font-size: 63px;
    }
}
.header__title> span {
    color: var(--dot-color);
}
.header__subtitle {
    font-size: 20px;
    font-family: var(--font-soure-sans);
    color: var(--text-color-white);
    font-weight: 400;
    margin-top: 35px;
}
.header__btn {
    margin-top: 50px;
    display: inline-block;
}
.contacts__container {
    background: var(--background-contacts-header);
    padding: 40px 20px;
    color: var(--text-color-white);
}

.contacts__text {
    font-size: 20px;
    font-family: var(--font-soure-sans);
}
.contacts__tel, .contacts__mail, .contacts__location {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts__tel a, .contacts__mail a {
    font-size: 1rem;
    font-family: var(--font-soure-sans);
    text-decoration: none;
    color: var(--text-color-white);
}
.contacts__container img {
    width: 18px;
    height: 18px;
}
.contacts__location p {
    color: var(--color-header-location);
}
@media (min-width:767.5px) {
    .contacts__container {
        display: flex;
        flex-direction: row;
    }
    .contacts__tel, .contacts__mail, .contacts__location {
        margin: 0 0 0 18px;
    }
    .contacts__container {
        justify-content: space-between;
    }
    .contacts__wrapper {
        display: flex;
    }
}