.section__pricing-container {
    background-color: var(--main-background-color);
}

.section__pricing {
    color: var(--text-color-white);
    font-family: var(--font-family);
    padding: 56px 22px 56px 22px;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 28px;
}

.section__heading {
    font-family: var(--font-lato);
    font-size: 34px;
    padding: 20px 0;
    line-height: 1.15;
}

.section__description {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 20px;
}

.floors-plan:link,
.floors-plan:visited {
    text-decoration: none;
    color: var(--text-color-white);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.floors-plan:hover,
.floors-plan:active {
    color: var(--btn-color-hover);
}

.pricing__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    /* width: 340px; */
}

.pricing__pricing-card {
    background-color: var(--cards-background-color);
}

.card__title {
    font-family: var(--font-lato);
    font-size: 28px;
    padding: 32px 0 28px 28px;
}

.pricing-icon {
    color: var(--icons-color);
    padding-left: 28px;
    padding-bottom: 28px;
    width: 96px;
}

.cards__price-description {
    color: var(--secondary-font-color);
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 28px 28px;
    /* margin-left: 28px; */
}

.price {
    font-family: var(--font-lato);
    font-size: 26px;
    color: var(--text-color-white);
}

.divider-component {
    background-color: var(--background-contacts-header);
    height: 5px;
    width: 15%;
    display: block;
    margin-left: 28px;
}

.card__list {
    list-style: none;
    padding: 28px 0 32px 28px;
    color: var(--secondary-font-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__list-item {
    font-size: 16px;
    display: flex;
    gap: 12px;
}

.card-icon {
    width: 24px;
}

.pricing__button:link,
.pricing__button:visited {
    background-color: var(--btn-color);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--text-color-white);
    text-decoration: none;
    padding: 14px 28px 14px 28px;
    margin: 28px 0 28px 28px;
    display: inline-block;
}

.pricing__button:hover,
.pricing__button:active {
    background-color: var(--btn-color-hover);
}

@media (min-width: 780px) {

    .pricing__cards {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 1043px) {

    .section__pricing {
        grid-template-columns: 1fr 2fr;
        gap: 30px;
    }
}
