.section__pricing {
    background-color: #000;
    color: var(--text-color-white);
    font-family: var(--font-family);
    padding: 56px 22px 56px 22px;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

.section__heading {
    font-family: var(--font-lato);
    font-size: 34px;
    padding: 20px 0;
    line-height: 1.15;
}

.section__description {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 20px;
}

.floors-plan:link,
.floors-plan:visited {
    text-decoration: none;
    color: var(--text-color-white);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.floors-plan:hover,
.floors-plan:active {
    color: #d1b997;
}

.pricing__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
}
