.services__slider-card {
    width: 327px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    flex-direction: column;
.image__services {
    width: 400px;
    height: 800px;
    overflow: hidden;
    border: 1px solid #ccc;
}
    
.image__services > .section_services-img {
      display: block;
      margin-left: -100px;
      margin-right: -100px;
    }
}
.section_services-img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  }
  /*BUTTOM SERVICES*/
.buttom-effect {
    position: relative;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    transition: background 0.5s ease;
  }
.buttom-effect:hover .overlay {
    display: block;
    background: var(--shadow-color);
}
.services-buttom {
  position: absolute;
  width: 100%;
  left:0;
  top: 45%; 
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}
.services-buttom a {
  padding: 15px 40px; 
  text-align: center;
  background: var(--section__subheading-color);
  color: white;
  z-index: 1;
  text-decoration: none;
}
.buttom-effect:hover .services-buttom {
    opacity: 1;
  }



/*Fixed background and color text*/
.fixed__bg {
  padding: 50px 80px 70px 25px;
  min-height: 750px;
  background: linear-gradient( var(--shadow-color), var(--main-background-color)), url(../img/services/bg_services.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  color: var(--text-color);
  font-family: var(--font-header-title);
  position: relative;
  margin: auto;
 
}
@media (min-width: 750px) {
  .services__slider-card{
    display:inline-flex;
    padding: 10px;
  }

}