.testimonial__container{
    padding: 100px 32px 55px;
}

.section__feedbacks-carousel{
    min-height: 640px;
    display: flex;
    align-items: center;
}

.section__feedbacks-carousel__btn{
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
    border: none;
    color: var(--testimonials-swipe-btn);
    background-color: transparent;
}

.section__feedbacks-carousel__btn:hover{
    color: var(--testimonials-swipe-btn-hover);
}

.section__feedbacks{
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap;
}

.section__feedback-container{
    margin: 15px;
    width: 85%;
    padding: 50px;
}

#testimonials{
    color: var(--text-color-white);
    background-color: var(--testimonials-background-color);
}

.testimonials__top-text{
    max-width: 66.6%;
}

#testimonials .section__description{
    font-size: 18px;
}

.apostrophes{
    width: 70px;
    height: 70px;
    color: var(--section__subheading-color);
}

.testimonial__text{
    color: var(--grey-small-text-color);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
}

.testimonial__text p{
    margin-top: 20px;
}

.testimonial__text-date{
    font-size: 14px;
    margin-top: 20px;
}

.section__feedbacks{
    margin-top: 20px;
}

.section__feedbacks > div{
    background-color: var(--cards-background-color);
}

.section__profile{
    display: flex;
    padding: 7.5px 0;
    margin-top: 20px;
}

.profile-photo{
    width: 70px;
    height: 70px;
}

.section__profile-info{
    display: flex;
    align-content: flex-end;
    padding: 0 10px;
    flex-direction: column;
}

.section__profile-info p{
    margin: 5px;
}

.profile-name{
    color: var(--main-white-color);
    font-size: 22px;
    font-family: var(--font-lato);
}

.profile-position{
    color: var(--main-white-color);
}

@media(min-width: 767px) {
    .section__feedback-container{
        width: 45%;
    }
}